{% extends 'hotel/base.html' %}

{% load static %}

{% block page-content %}
    
    <section
            style="background: url('{% static "hotel/img/photogrid.jpg" %}') center center repeat; background-size: cover;"
            class="relative-positioned">
        <!-- Carousel Start-->
        <div class="home-carousel">
            <div class="dark-mask mask-primary"></div>
            <div class="container">
                <div class="homepage owl-carousel">
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <img src="https://a0.muscache.com/im/pictures/15273358/d7329e9a_original.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="https://a0.muscache.com/im/pictures/6722906/b4bc6418_original.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <img src="https://a0.muscache.com/im/pictures/21611933/43f6de69_original.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="https://a0.muscache.com/im/pictures/15273358/d7329e9a_original.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <img src="https://a0.muscache.com/im/pictures/812e040f-6f6f-4cae-ad67-66c050b57c1f.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="https://a0.muscache.com/im/pictures/52149945/33130c63_original.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <img src="https://a0.muscache.com/im/pictures/21611933/43f6de69_original.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="https://a0.muscache.com/im/pictures/6722906/b4bc6418_original.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End-->
    </section>
    <section class="bar background-pentagon no-mb">
        <div class="container">
            <div class="row showcase text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-h-square"></i></div>
                        <h4><span class="h1 counter">580</span><br> Hotels</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-users"></i></div>
                        <h4><span class="h1 counter">100</span><br>Satisfied Clients</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-book"></i></div>
                        <h4><span class="h1 counter">320</span><br>Bookings</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-sun-o"></i></div>
                        <h4><span class="h1 counter">923</span><br>Days</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}